.main-div{
    width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input-box{
    margin-bottom: 10px;
}